@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
  margin: 0;
}
body{
  background:white;
    color: black;
    font-family: "Expletus Sans", sans-serif;

text-align: center;
  }
.testitle h1{
  font-family: "Expletus Sans", sans-serif;
  color: white;
  font-weight: 800;
  padding-top:30px;
}
.toppin{
    background-color:whitesmoke;
    color: black;
    height: 0px;
    justify-content: center;
    align-items: center;
    
}

.class-nav{
    display: flex;
    height: 0px;     
  }
  nav{
    
    display:flex;
    position: relative;
    
  }
  nav ul{
    display: flex;
  margin-left: 0px;
  
  }
  nav li {
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: white;
    
  }
  nav img{
    display: flex;
    height: 80px;
    width: 120px;
    
  }
  
  .nav-text{
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    margin-top: 39px;
    margin-left: -7px;
    
    margin-right: -100px;
  }
.sidebar {
    position: fixed;
    opacity: var(--webkit-backdrop-filter);

    top: 0;
    left:0px;
    width: 0px;
    height: 100vh;
    padding-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(32, 30, 30, 0.2);
      backdrop-filter: blur(17px);
      --webkit-backdrop-filter: blur(17px);
      border-left:0px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
  }
  .sidebar:hover {
    width: 200px;
    
  }
  .sidebar:hover .logo h2 {
    display: block;
  }
  .sidebar .links {
    list-style: none;
    margin-top: 100px;
  color: #fff;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
  }
  .sidebar .links::-webkit-scrollbar {
    display: none;
  }
  .links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
  }
  h2{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .message{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .links li:hover {
    cursor: pointer;
    background: rgb(35, 35, 35);
  }
  .links h4 {
    color: #fff;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
  }
  .sidebar:hover .links h4 {
    display: block;
  }
  .links hr {
    margin: 10px 10px;
    border: 1px solid #4c4c4c;
  }
  .sidebar:hover .links hr {
    border-color: transparent;
  }
  .links li span {
    padding: 12px 10px;
  }
  .links li a {
    padding: 10px;
    color: #fff;
    display: none;
    font-weight: 200;
    white-space: nowrap;
    text-decoration: none;
  }
  .sidebar:hover .links li a {
    display: block;
  }
  .links .logout-link {
    margin-top: 20px;
  }
  .image-class{
      display: flex;
       background-size: cover;
      background-position:center;
      height: 400px;
      padding: 30px;
      animation:10s  infinite linear anim-div;
      align-items: center;
      justify-content: center;
      
  }

  @keyframes anim-div {
    0%{
      background-image: linear-gradient(#0001, #000),  url('images/backtour.jpg');
   
     background-position: center;
      background-size:cover;
    
    }
    50%{
      background-image: linear-gradient(#0001, #000),  url('images/beach.jpg');
   background-position: center;
      background-size:cover;
    }
    100%{
      background-image: linear-gradient(#0001, #000),  url('images/beauti.jpg');
    background-size: cover;
    background-position: center;

    }

  }
  .motto h2{
    
      display: flex;
     margin-top: 60px;
      align-items: center;
      justify-content: center;
      letter-spacing:0px;
      color: white;
      font-size: 3.6rem;
  }
  .motto h1{
    color: white;
    font-size: 3.4rem;
    font-weight: 100px;
    margin-top: -40px;
  }
  .motto p{
    color: white;
    text-align:center;
    padding: 10px;
    
  }
  button {
    margin-top: 0px;
    display: flex;
    height: 30px;
    width: 150px;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
  font-family: "Expletus Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: white;
    background-color:#bc6c25;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;transition: 0.2s;
   

  }
   
   button:hover {
    color: #516d91;
    background-color: black;
   }
   
   button:active {
    box-shadow: none;
   }
   .message a{
    text-decoration: none;
   }
   .box img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  
  .momcard{
    color: rgb(19, 44, 44);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    }
  
    .card {
     
        width: 240px;
        gap: 50px;
        height: 240px;
        border: none;
        background-color: #304663;
       flex: 0 0 auto;
       margin-top: 4em;
       overflow-x: none;
       border-radius: 10px;
    }
    #btn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -45px;
      margin-left: 70px;
     
      
    
      width: 100px;
      height: 10px;
      margin-left: 70px;
     
    
    }
    #btn a{
      text-decoration: none;
      color: white;
    }
    .hoverthingi{
        height: 70px;
        width: 240px;
        background-color: rgba(23, 23, 24, 0.5);
        filter: azure blur(20%);
       
        margin-top: 10.7rem;
       border-radius: 10px;
  
    }
    .hoverthingi p{
      color: #fff;
    }
    
    
    #div1{
       background-image: url(images/pass.jpg);
       background-position: center;
       background-size: cover;
    }
    #div2{
        background-image: url(images/car.jpg);
        background-position: center;
       background-size: cover;
    }
    #div3{
        background-image: url(images/hotel.jpg);
        background-position: center;
        background-size: cover;
    }  
    #div4{
        background-image: url(images/tour.jpg);
        background-position: center;
        background-size: cover;
    }
    .cerdtxt{
        display: flex;
        justify-content:  center;
        text-align: center;
        color: black;
        font-weight: 600;
    }
    h6{
      margin-top: 20px;
      color: black;
      display: flex;
      
    }
    .motto p{
      letter-spacing: 1px;
    }
    .servtitle h3{
      
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 2rem;
        margin-top: 50px;
        color: white;
        
    margin-bottom: 50px;
    padding-top: 50px;
        font-weight: 1900;
        font-family: "Expletus Sans", sans-serif;
    }
      
      
    
    .location{
      color: white;
      margin-top: -100px;
    }
    .iframe{
      display: flex;
      justify-content: center;
      align-items: center;
    width: 350px;
  height: 350px;
 }
    .maptext{
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin: 0px 0;
      padding-top: 60px;
      gap: 10px;
      align-items: center;
      margin-top: 100px;
    }
    .testitle{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px;
    }
    .testitle{
      padding: 30px;
    }
    .testimony{
      flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;


    }
    .task {
      color: #2e2e2f;
      cursor: move;
      background-color: white;
    
      padding: 1rem;
      border-radius: 8px;
      box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
      margin-bottom: 1rem;
      border: 3px dashed transparent;
      max-width: 350px;
    }
    
    .task:hover {
      box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
      border-color: rgba(162, 179, 207, 0.2) !important;
    }
    
    .task p {
      font-size: 15px;
      margin: 1.2rem 0;
    }
    
    .tag {
      border-radius: 100px;
      padding: 2px 13px;
      font-size: 12px;
      color: #111;
    }
    
    .tags {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .options {
      background: transparent;
      border: 0;
      color: #c4cad3;
      font-size: 17px;
    }
    
    .options svg {
      fill: #9fa4aa;
      width: 20px;
    }
    
    .stats {
      width: 100%;
      color: #9fa4aa;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .stats div {
      margin-right: 1rem;
      height: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    
    .stats svg {
      margin-right: 5px;
      height: 100%;
      stroke: #9fa4aa;
    }
    
    .viewer span {
      margin-right: -10px;
      border-radius: 50%;
      border: 1px solid #111;
      display: grid;
      align-items: center;
      text-align: center;
      font-weight: bold;
      color: black;
      padding: 2px;
    }
    
    .viewer span svg {
      stroke: black;
    }
    .main2{
      background-image: url(images/pexels-mihis-alex-21014.jpg);
      margin-top: 10px;
    background-size: cover;
    background-position: center;
    
    }
    
  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 25px;
    top: 30px;
  }
  
  .theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .toggle-text {
    position: relative;
    top: -4px;
    right: 5px;
    color: var(--on-background);
  }
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding:10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-position-x: initial;
    background-position-y: initial;
    
    background-image: linear-gradient(#000,#0001 ,#000),  url('images/pexels-soner-arkan-277045183-12943931.jpg');
   
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
  }
  
  .responsive-container-block.Container {
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
    color: #000;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.heading {
    font-size: 36px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  
  .text-blk.subHeading {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  
  .socialIcon {
    width: 33px;
    height: 33px;
  }
  
  .social-icons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  .social-icon {
    margin: 0 50px 0 50px;
  }
  
  .social-icon:hover {
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .text-blk.heading {
      font-size: 55px;
      line-height: 65px;
    }
  
    .text-blk.subHeading {
      font-size: 18px;
      line-height: 24px;
    }
  
    .socialIcon {
      width: 20px;
      height: 20px;
    }
  
    .text-blk.subHeading {
      line-height: 27px;
    }
  
    .text-blk.heading {
      font-size: 32px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .social-icon {
      margin: 0 25px 0 25px;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .text-blk.heading {
      font-size: 45px;
      line-height: 55px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .text-blk.subHeading {
      font-size: 14px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .social-icons-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .text-blk.subHeading {
      font-size: 16px;
      line-height: 23px;
    }
  
    .text-blk.heading {
      font-size: 26px;
      line-height: 30px;
    }
  
    .social-icon {
      margin: 0 20px 0 20px;
    }
  }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
    
    
    
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    max-width: 1250px;
    margin: 100px auto;
    padding: 20px;
    gap: 20px;
}
.service{
  background-color: #fff;
}
.card-list .card-item {
    background: #bc6c25;
    padding: 26px;
    border-radius: px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}
.card-list .card-item:hover {
    border: 2px solid #000;
}
.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}
.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}
.card-list .developer {
    background-color: #F7DFF5; 
    color: #B22485;
}   
.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}
.card-list .editor {
    background-color: #d6f8d6; 
    color: #205c20;
}
.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}
.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}
.card-list .card-item:hover .arrow  {
    background: #000;
    color: #fff; 
}
@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}
@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}